#div1 {
  width:80px;
  height:80px;
  display:none;
  background-color: #93331a
}

#div2 {
  width:80px;
  height:80px;
  display:none;
  background-color: #cc3a14
}

#div3 {
  width:80px;
  height:80px;
  display:none;
  background-color: #1a9329
}
